body, html {
    scroll-behavior: smooth;
    background: linear-gradient(45deg, #bdffa8, #ffd39e);
    color: #000000;
}
h1 {
    text-align: center;
    font-size: 30px;
}
h2 {
    font-size: 25px;
}
p {
    font-size: 20px;
    margin-bottom: 20px;

}
li {
    font-size: 18px;
    list-style: none;
    margin-bottom: 5px;
}
a {
    text-decoration: none;

}


.saq {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


div.gal{

    height: auto;
    max-width: 700px;
    margin: 50px;
}



div.navig{
    margin-left: 1px;
    padding-left: 1px;
    list-style: none;
}
div.navig a {
    display: block;
    width: 12em;
    padding:14px;
    background-color: #014e6b;
    border-top: 2px solid #f6bc76;
    border-right: 2px solid #f6bc76;
    border-left: 2px solid #f6bc76;
    border-bottom: 2px solid #f6bc76;
    color: #f6bc76;
}

div.txt {
    border: 8px solid #3b3a3a;
    background: linear-gradient(45deg, #75ff41, #002eff);
    overflow: hidden;
    padding: 20px;
}
div.txt2 {

    border: 8px solid #3b3a3a;
    background: linear-gradient(45deg, #002eff, #75ff41);
    overflow: hidden;
    padding: 20px;
}

