/*@media screen and (max-width: 1126px) {*/


/*    .nav-right-desk {*/
/*        display: none;*/
/*    }*/

/*    .nav-right-mob {*/
/*        display: block;*/

/*    }*/
/*}*/

/*@media screen and  (max-width: 572px) {*/
/*    .nav-left-geo__logo {*/
/*        display: none;*/
/*    }*/

/*    .nav-left-dropdown {*/
/*        display: none;*/
/*    }*/

/*    .header__nav {*/
/*        justify-content: start;*/
/*    }*/

/*    .wraper {*/
/*        padding: 0 15px;*/
/*    }*/
/*}*/





@media screen and (max-width: 770px) {

    .nav-right-desk {
        display: none;
    }
    .nav-right-mob {
        display: block;

    }
    .header__menu {
        font-size: 13px;
        line-height: 15px;

    }

    .header__work-info {
        flex-direction: column;
        row-gap: 15px;
        font-size: 12px;
        line-height: 15px;
    }
    .header__schedule-time img {
        width: 20px;
    }
    .header__geo-vector img {
        width: 20px;
    }
    .header__namber {
        flex-direction: column-reverse;
        row-gap: 30px;
    }
    .header__phone-phone {
        font-size: 16px;
        line-height: 19px;
    }
    .header__whatsapp {
        font-size: 12px;
        line-height: 14px;
        padding: 2px 5px;
        min-width: 100px;
    }
    .header__schedule-schedule {
        min-width: 186px;
    }
}



@media screen and (max-width: 420px) {

    .nav-left-geo__logo {
        display: none;
    }
    .nav-left-dropdown {
        display: none;
    }
    .header__nav {
        justify-content: start;
    }
    .wrapper {
        padding: 0 15px;
    }


}


@media screen and (max-width: 320px) {
    .nav-left-geo {
        min-width: 100px;

    }

    .header {
        padding: 10px 0;
    }

    .header__work-info {
        display: none;
    }

    .header__logo-logo img {
        max-width: 37px;
    }

    .header__logo-name h2 {
        font-size: 14px;
        line-height: 16px;
    }

    .header__logo-name p {
        font-size: 7px;
        line-height: 8px;
    }

    .header__phone-phone {
        font-size: 14px;
        line-height: 16px;
    }

    .header__phone-form a {
        font-size: 10px;
        line-height: 12px;
    }

    .header__whatsapp-whatsapp span {
        display: none;
    }

    .header__whatsapp a {
        font-size: 10px;
        line-height: 12px;
    }

    .header__namber {
        row-gap: 10px;
    }

    /*    -------------headerLOGO-----------------------------------------*/
    .mob__none {
        display: none;
    }

    .ssp {
        justify-content: center;
        align-items: center;
        row-gap: 4px;

    }

    .search__btn {
        padding: 10px 7px;
    }
    .header__mine__items {
        display: none;
    }
    .header__mine__search {
        width: 100%;
        column-gap: 20px;
    }
    .input__line {
        min-width: 200px;
        height: 48px;
    }
    .input__btn p {
        display: none;
    }
    .input__btn span {
        display: block;
    }
    .input__btn img {
        width: 12px;
    }
    .input__btn {
        padding: 11px;
    }


    /*-----------------------header-----------------*/


    .curs{
        display: none;
    }
    .big-slider__cont {
        flex-direction: column;
        row-gap: 8px;
        box-sizing: border-box;
    }
    .big-slider-slider {
        width: 100%;
        height: 200px;
    }
    .big-slider-slider__mine__cont-img img {
        width: 110px;
    }
    .big-slider-slider__mine__contl {
        width: 60%;
        justify-content: center;
    }
    .big-slider-slider__mine-contl {
        display: flex;
        flex-direction: column;
        row-gap: 13px;
    }
    .big-slider-slider__mine-title h2 {
        font-size: 16px;
        line-height: 19px;
    }
    .big-slider-slider__mine-title a {
        font-size: 10px;
        line-height: 12px;
    }
    .big-slider-slider__mine-price h2 {
        font-size: 20px;
        line-height: 23px;
    }
    .big-slider-slider__mine-price p {
        font-size: 14px;
        line-height: 16px;

    }
    .big-slider-slider__mine-price {
        flex-direction: column-reverse;
        align-items: start;
    }
    .big-slider-button {
        padding: 10px 24px;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
    }

    .big-slider__cont-product {
        flex-direction: row;
        column-gap: 10px;
        overflow: hidden;

    }
    .big-slider__cont-product-product {
        width: 250px;
        height: 150px;
    }
    .product-card-cont > img {
        height: 54px;
        width: 54px;
    }
    .product-card-cont-info-inf h2 {
        font-size: 12px;
        line-height: 18px;
    }
    .product-card-cont-info-inf a {
        font-size: 10px;
        line-height: 12px;
    }
    .product-card-cont-info-price-price h2 {
        font-size: 14px;
        line-height: 16px;
    }
    .product-card-cont-info-price {
        height: 38%;
    }
    .product-card-cont-info-price-price p {
        font-size: 10px;
        line-height: 14px;
    }
    .product-card-cont-info-price-button button {
        padding: 10px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .big-slider__cont-product-product > h3 {
        padding-bottom: 5px;
    }

/*    --------------------big slider------------*/
    .small-slider-block {
        margin: 30px 0;
    }

    .small-slider {
        height: 127px;
        column-gap: 10px;

    }
    .small-slider__box {
        width: 250px;
    }
    .small-slider__box__title {
        padding: 15px;
        width: 174px;
    }
    .small-slider__box__title h2 {
        font-size: 16px;
        line-height: 18px;
    }
    .small-slider__box__title p {
        font-size: 10px;
        line-height: 14px;
    }
    .small-slider__btn {
        font-size: 12px;
        line-height: 14px;
        padding: 12px 5px;
        border: none;
    }
    .small-slider__box__image {
        display: flex;
        align-items: center;
    }
    .small-slider__box__image img {
        width: 74px;

    }

/*-----------------small slider-----------*/
    .mine__card {
        width: 48%;
        min-height: 340px;
    }
    .mine__content-card {
        column-gap: 10px;
    }
    .dnone {
        display: none;
    }
    .mine__card > img {
        width: 154px;
        height: 121px;
    }
    ..card__footer {
        column-gap: 10px;
    }
    .card__footer-btn  {
        font-size: 10px;
        line-height: 10px;
        padding: 8px 2px;
        width: 110px;
    }
    .card__footer-btn p {
        display: flex;
    }
    .card__footer-btn img {
        width: 12px;
        height: 12px;
    }
    .card__pricce h3 {
        font-size: 14px;
        line-height: 16px;
    }
    .card__pricce p {
        font-size: 10px;
        line-height: 12px;
    }
    .card__title2 h2 {
        font-size: 12px;
        line-height: 17px;
    }
    .card__title2 {
        min-height: 117px;
    }
    .card__title h2{
        font-size: 12px;
        line-height: 17px;
    }
    .mine__card-rank img {
        width: 12px;
        height: 12px;
    }
    .mine__card-rank p {
        font-size: 10px;
        line-height: 12px;
    }
    .mine__card-rank a {
        font-size: 10px;
        line-height: 12px;
    }
    .mine__card > p {
        font-size: 12px;
        line-height: 14px;
    }
    .mine__nav {
        column-gap: 10px;
    }
    .mine__nav button {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 16px;
        height: 40px;
    }
    .mine__button1 {
        width: 200px;
        height: 40px;
    }
    .mine__nav {
        display: inline-flex;
    }
    .mine__foot__btn button {
        padding: 10px 40px;
        font-size: 12px;
        line-height: 14px;
    }
    .mine__foot__btn {
        margin: 25px;
    }
}


