html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Roboto', 'Rubik';
    color: #0A1A2C;
    font-weight: 500;
    font-size: 14px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}
.txtnon a{
    text-decoration: none;
}


.header__menu {
    height: 35px;
    background-color: #0F2438;
    color: white;
    font-size: 14px;
    line-height: 16px;
}
.header__menu a {
    color: white;
}
.header__menu a:hover {
    color: #005BB9;
}
.header__nav {
    justify-content: space-between;
    display: flex;
}
.nav-left-geo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 148px;
}


.nav-left-dropdown {
    padding-left: 50px;
    display: flex;
}

.nav-right-mob {
    display: none;
}
.nav-right-desk {
    column-gap: 30px;
    display: flex;
    align-items: center;
}
/*------------------------------NAV-------------------------------------------------------------------------------*/

.header {
    padding-top: 33px;
}

.header__info,.header__logo, .header__work-info, .header__schedule, .header__geo,
.header__namber,.header__whatsapp,.header__phone,.header__schedule-schedule {
    display: flex;

}
.header__info {
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    align-items: center;
    column-gap: 5px;

}
.header__logo img {
    width: 66px;
}
.header__logo-name h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

}
.header__logo-name p {
    font-size: 12px;
    line-height: 14px;

}
.header__schedule {
    column-gap: 10px;
    align-items: center;
    line-height: 20px;
}

.header__schedule-schedule {
    flex-direction: column;
    align-items: end;

}

.header__geo {
    align-items: center;
    column-gap: 12px;

}

.header__whatsapp {
    background: #E1EFD0;
    border-radius: 2px;
    column-gap: 7px;
    padding: 8px 16px;
    box-sizing: border-box;
    align-items: center;



}
.header__whatsapp a {
    font-size: 12px;
    line-height: 14px;
    font-family: Rubik;
    font-weight: normal;
    color: black;
}
.header__namber {
    column-gap: 30px;
}
.header__work-info {
    column-gap: 50px;
}

.header__phone {
    flex-direction: column;
    align-items: end;
}
.header__phone a {
    font-size: 12px;
    line-height: 14px
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
}

.header__phone-phone {
    font-size: 20px;
    line-height: 23px;
}
.btn {
    color: white;
    background: #005BB9;
    border-radius: 6px;
}

