html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Roboto', 'Rubik';
    color: #0A1A2C;
    font-weight: 500;
    font-size: 14px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
}
.txtnon a{
    text-decoration: none;
}


.header__menu {
    height: 35px;
    background-color: #0F2438;
    color: white;
    font-size: 14px;
    line-height: 16px;
}
.header__menu a {
    color: white;
}
.header__menu a:hover {
    color: #005BB9;
}
.header__nav {
    justify-content: space-between;
    display: flex;
}
.nav-left-geo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 148px;
}


.nav-left-dropdown {
    padding-left: 50px;
    display: flex;
}

.nav-right-mob {
    display: none;
}
.nav-right-desk {
    column-gap: 30px;
    display: flex;
    align-items: center;
}
/*------------------------------NAV-------------------------------------------------------------------------------*/

.header {
    padding-top: 33px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding-bottom: 20px;
}

.header__content,.header__info,.header__logo, .header__work-info, .header__schedule, .header__geo,
.header__namber,.header__whatsapp,.header__phone,.header__schedule-schedule {
    display: flex;

}
.header__content {
    flex-direction: column;
    row-gap: 25px;
}
.header__info {
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    align-items: center;
    column-gap: 5px;

}
.header__logo img {
    width: 66px;
}
.header__logo-name h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

}
.header__logo-name p {
    font-size: 12px;
    line-height: 14px;

}
.header__schedule {
    column-gap: 10px;
    align-items: center;
    line-height: 20px;
}

.header__schedule-schedule {
    flex-direction: column;
    align-items: end;

}

.header__geo {
    align-items: center;
    column-gap: 12px;

}

.header__whatsapp {
    background: #E1EFD0;
    border-radius: 2px;
    column-gap: 7px;
    padding: 8px 16px;
    box-sizing: border-box;
    align-items: center;



}
.header__whatsapp a {
    font-size: 12px;
    line-height: 14px;
    font-family: Rubik;
    font-weight: normal;
    color: black;
}
.header__namber {
    column-gap: 30px;
}
.header__work-info {
    column-gap: 50px;
}

.header__phone {
    flex-direction: column;
    align-items: end;
}
.header__phone a {
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
}

.header__phone-phone {
    font-size: 20px;
    line-height: 23px;
}
.btn {
    color: white;
    background: #005BB9;
    border-radius: 6px;
}
.header__mine__search {
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.search__btn {

    display: flex;
    align-items: center;
    padding: 16px 32px;
    justify-content: center;
    column-gap: 12px;

}

.search__btn span div {
    width: 20px;
    height: 3px;
    background-color: white;
}
.ssp {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}
.search__btn p {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.input__btn {
    padding: 18px 30px;
    border-radius: 0px 6px 6px 0px;
}
.input__btn span {
    display: none;
}
.input__line {
    background: #F4F5FA;
    border-radius: 6px 0px 0px 6px;
    height: 62px;
    max-width: 553px;
    min-width: 450px;
}

.search__input form {
    display: flex;
    align-items: center;
}
.header__mine__items {
    display: flex;
    column-gap: 25px;

}
.header__mine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__mine__items__itm {
    display: flex;
    column-gap: 15px;
    align-items: center;
}
.heart {
    border-left: 1px solid #E1E5F8;
    border-right: 1px solid #E1E5F8;
    padding: 0 25px;
}
.cart {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}
.header__mine__items__itm p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;

}
/*---------------------------header---------------------------*/

.big-slider-block {
    margin: 30px 0;

}

.big-slider-slider {
    height: 400px;
    background: url("../image/big-slider/bg.jpg") center/cover;
    width: 74%;
    position: relative;
    border-radius: 30px;


}

.curs {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor1 {
    bottom: 50%;
    left: 2%;

}

.cursor2 {
    bottom: 50%;
    right: 2%;

}
.big-slider-slider__mine {
    display: flex;
    height: 85%;
    width: 100%;
}

.big-slider-slider__mine__contl {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    row-gap: 20px;
    flex-direction: column;

}

.big-slider-slider__mine-title h2 {
    font-size: 36px;
    line-height: 42px;
}

.big-slider-slider__mine-title a {
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;

}
.big-slider-slider__mine-price {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.big-slider-slider__mine-price h2 {
    font-size: 264%;
    line-height: 307%;
    color: #005BB9;
}
.big-slider-slider__mine-price p {
    font-size: 157%;
    line-height: 185%;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.big-slider-button {
    padding: 15px 30px;
    display: flex;
    column-gap: 8px;
}
.big-slider-slider__mine__cont-img {
    align-items: center;
    display: flex;
}
.big-slider-slider__footer {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 22px;
}
.bh {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;

}
.big-slider-slider__footer__bh1 {
    background: #0D1C2B;
}
.big-slider-slider__footer__bh2 {
    border-left: 2px inset #0D1C2B;
    border-bottom: 2px inset #0D1C2B;
}
.big-slider__cont-product {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.big-slider__cont-product-product {
    background: #F4F5FA;
    border-radius: 10px;
    height: 49%;
    width: 336px;
}
.big-slider__cont {
    display: flex;
    column-gap: 10px;
}

.big-slider__cont-product-product h3 {
    font-size: 12px;
    line-height: 14px;
    padding: 12px 15px;
}
.product-card-cont {
    padding: 0 15px;
    display: flex;
    column-gap: 15px;
}
.product-card-cont > img {
    height: 80px;
    width: 80px;
}
.product-card-cont-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 152px;

}
.product-card-cont-info-inf h2 {
    font-size: 16px;
    line-height: 23px;
}
.product-card-cont-info-inf a {
    font-size: 12px;
    line-height: 14px;
    color: #525252;
    text-decoration: none;
}
.product-card-cont-info-price {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 50%;
}
.product-card-cont-info-price-price {
    display: flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
}
.product-card-cont-info-price-price h2 {
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}
.product-card-cont-info-price-price p {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.product-card-cont-info-price-button button {
    padding: 16px;
    line-height: 0;

}
.product-card-cont-info-price-button img {
    height: 17px;
    width: 17px;
}

/*------------big slider------------------------*/

.small-slider-block {
    margin: 70px 0;
}
.small-slider {
    overflow: hidden;
    height: 175px;
    display: flex;
    column-gap: 30px;
    position: relative;
}

    .small-slider__box {
    height: 100%;
    width: 431px;
    display: flex;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    justify-content: space-between;
}
.small-slider__box__title {
    row-gap: 11px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.small-slider__box__title h2 {
    font-size: 24px;
    line-height: 28px;
}
.small-slider__box__title p {
    font-size: 14px;
    line-height: 24px;
}
.small-slider__btn {
    background: #005BB9;
    border-radius: 4px;
    height: 26px;
    width: 86px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: center;
}

.cursor__s1 {
    bottom:  43%;
    left: 0%;
}
.cursor__s2 {
    bottom: 43%;
    right: 0%;
}

/*------------------small slider------------------*/

