* {
    margin: 0;
    padding: 0;
    color: white;
}
.opt {
    font-size: 40px;
    padding: 10px 10px;
    justify-content: center;
    display: flex;
    box-sizing: border-box;


}
.header {
    height: 70px;
    background-color: cornflowerblue;

}

.mine {
    display: flex;
    min-height: 600px;
    margin: 10px 0;
}
.lmine {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.rmine {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.hero {
    background-color: #ca75ee;
    height: 40%;

}
.sidebar {
    background-color: #46bb46;
    flex-grow: 1;
}
.mine__cont {
    background-color: gold;
    height: 70%;
}
.m {
    margin-bottom: 10px;
}
.extra__cont {
    background-color: #3f3d3d;
    flex-grow: 1;
}
.bot {
    display: flex;
    height: 70px;
}

.bot__l {

    background-color: #39de7c;
    width: 70%;
    margin-right: 10px;
}
.bot__r {
    background-color: #ec50fa;
    flex-grow: 1;
}

.footer {
    background-color: #fc9702;
    margin-top: 10px;

}